
.ExpandButton {
    background: none;
    border-radius: 20px;
    border: 3;
    color: white;
    display: block;
    height: 12px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    width: 25px;
    margin-right: 10px;
  
  }
  
  
  .ExpandButton:hover {
    cursor: pointer;
  }
  