
.Item { 
    padding: 10px;
   border-radius: 20px;
   border-style: solid;
   border-color: white;  
   filter:drop-shadow(5px 10px black);
   margin: 20px;
   background: linear-gradient(black, rgb(27, 27, 27) );
}
.Item-Header{
justify-content: space-between;
display: flex;
  cursor: pointer;  
}

button.Item__expand-item-button{
    font-size: 30px;
}
.MainList__edit-item-button{
    background-color:Transparent;
    border-radius: 20px;
    border-width: 4px;
    border-style: solid;
    border-color: white;
    color: white;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 5px;
    text-align: center;
    text-decoration: none;
    width: 7px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 15px;
    margin-left: 30px;
}

.MainList__edit-item-button:hover{
   
    border-color: #FF0038;
    color: #FF0038;
    filter:drop-shadow(0px 0px 8px #FF0038);
  } 
.MainList__edit-item-button:focus{
     border-color: #FF0038;
     color: #FF0038;
     filter:drop-shadow(0px 0px 8px #FF0038);
  } 

h3.Item__name {
font-size: 40px;
}
  .Item__date{
      font-size: 15px;
      color: gray;
  }
  .Item > button{
cursor: pointer;
  }
  .item__delete{
cursor: pointer;
  }
  .item__delete:hover{
color: #D3002E;
filter:drop-shadow(0px 0px 8px #D3002E);
      }
.item__delete:focus{
color: #D3002E;
filter:drop-shadow(0px 0px 8px #D3002E);
}
.item__calc{
cursor: pointer;
}
.item__calc:hover{
color: #3CACD5;
filter:drop-shadow(0px 0px 8px #3CACD5);
}
.item__calc:focus{
color: #3CACD5;
filter:drop-shadow(0px 0px 8px #3CACD5);
}
  .put-back-item{
    color: #3CACD5;
    filter:drop-shadow(0px 0px 8px #149BCC);
  }
.item-cost-qty{
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
}
.item-remove-delete{
font-style: 30px;
}
  @media (max-width: 700px) {
    button.Item__expand-item-button{
        font-size: 20px;
    }
    h3.Item__name {
        font-size: 20px;
        }
    .Item__name{
    font-size: 15px;
    }
    .Item{
        margin:2px;
    }
    .Item-Header{
    font-size: 10px;
    }
.Item__date-made{
font-size: 12px;
}
.item-remove-delete{
    margin-top: 10px;
}
.item-cost-qty{
font-size: 15px;
}
    }