.user-status{
    text-align: center;
    border-radius: 10px;
    font-size: 12px;
   
    filter:none;
    position: absolute;
    background: linear-gradient(black, rgb(27, 27, 27) );
     margin-Top: 10px;
    margin-left: -8.75em;
   margin-right: 15px;
    padding: 1em;
 
 
    }
   